body{
	overflow-x: hidden;
	margin: 0;
}

.titulo{
	padding-left: 70px;
	font-size: 16px;
	font-weight: bold;
}

@media (max-width: 1060px){	
	.titulo{
		padding-left: 55px;
		padding-top: 7px;
		font-size: 14px;
		line-height: 1.2;
	}
}


#back-top {
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 9999;
}

.btn-primary {
    background: #488FCD;
    border-color: #488FCD;
    padding: 0px;
    font-size: 18px;
    width: 36px;
    height: 36px;
}


.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;

.circles{
	 margin: auto;
}

footer{
	color: white;
	margin-top: 0px;
	background-color: #5499dc;
}

li > a{
	color: white;
}

li > a:visited{
	color: #e6e6e6;
}

.btn-default{
	border-radius: 50px;
	font-size: 16px;
	margin: 20px 10px 0px 0px;
	padding: 8px 20px;
	font-weight: bold;
	background-color: #5499dc;
	color: white;
	border: 0px;
}

.pac{
	margin-left: 10px;
	background-color: #e6e6e6;
	color: black;
}

.prof{
	margin-left: 10px;
	background-color: #e6e6e6;
	color: black;
}

.pac:hover{
	background-color: #5499dc;
	color: white;
}
.prof:hover{
	background-color: #32cd32;
	color: white;
}

.smooth{
	padding: 50px 0;
}

#pacientes{
	background-color: #EDEFF2;
}

#contactos{
	background-color: #EDEFF2;
}
